<!-- app/templates/base.html -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title | default("mansematch") }}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script
            src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"
        ></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js"
        ></script>
        <style>
            body {
                font-family: "Inter", sans-serif;
            }
            [x-cloak] {
                display: none !important;
            }
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body
        class="bg-gray-100 text-gray-800 flex flex-col min-h-screen"
        hx-boost="true"
    >
        {% include "_header.html" %}

        <main class="flex-grow">{% block content %}{% endblock %}</main>

        {% include "_footer.html" %} {% block scripts %}{% endblock %}
    </body>
</html>
